<!-- ./view/index.handlebars -->
<div class="container py-3">
  <h1 class="d-flex justify-content-center py-3">你想對誰說幹話?</h1>
  <form action="/" method="POST">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 18rem;">
          <img style="height: 13rem;" class="card-img-top"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
            alt="Card image cap">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <input type="radio" class="custom-control-input" id="engineer" name="occupation" value="engineer"
                {{#if options.engineer}} checked {{/if}}>
              <label class="custom-control-label " for="engineer">
                <h5>工程師</h5>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 18rem;">
          <img style="height: 13rem;" class="card-img-top"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
            alt="Card image cap">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <input type="radio" class="custom-control-input" id="designer" name="occupation" value="designer"
                {{#if options.designer}} checked {{/if}}>
              <label class="custom-control-label " for="designer">
                <h5>設計師</h5>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 18rem;">
          <img style="height: 13rem;" class="card-img-top"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
            alt="Card image cap">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <input type="radio" class="custom-control-input" id="entrepreneur" name="occupation" value="entrepreneur"
                {{#if options.entrepreneur}} checked {{/if}}>
              <label class="custom-control-label " for="entrepreneur">
                <h5>創業家</h5>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-sm-4 d-flex justify-content-center">
        <button type="submit" class="btn btn-dark mr-4">產生幹話</button>
      </div>
      <div class="col-sm-8">
        {{#if options}}
        <textarea class="form-control col-10" name="rubbish-talk" id="rubbish-talk" rows="3"
          readonly="readonly">{{options.rubbishTalk}}</textarea>
        {{/if}}
      </div>
    </div>
  </form>

</div>
<!--<h1>This will be a random dra talk.</h1> -->